<%- include('partials/header.ejs') %>

<div class="p-5 md:px-0 w-full flex flex-row justify-center">
    <div class="w-full md:w-[65%]">
        <h1 class="text-3xl font-bold">Página não encontrada</h1>
    </div>
</div>


<%- include('partials/footer.ejs') %>