<%- include('partials/header.ejs') %>

<div class="relative">
    <img class="select-none w-full" unselectable="on" src="/images/promo-banner-semitransparent.webp">
    <div class="absolute inset-0 flex flex-row items-center justify-evenly">
        <h1 class="text-white text-4xl font-bold drop-shadow-lg">Oferta do Dia</h1>
        
    </div>
</div>


<div class="px-5 md:px-0 w-full flex flex-row justify-center">
    <div class="w-full md:w-[65%]">
        <h2>Jogos em alta 🔥</h2>
    </div>
</div>


<%- include('partials/footer.ejs') %>