@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import "tailwindcss";

[x-cloak] { display: none !important; }

* {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
}

.underline-animate {
    position: relative;
}

.underline-animate::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0%;
    background-color: currentColor;
    transition: width 0.4s ease;
}

.underline-animate:hover::after {
    width: 100%;
}

.logo {
    font-family: "Bruno Ace", sans-serif;
}

.underline-animate-click {
    position: relative;
}

.underline-animate-click::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0%;
    background-color: currentColor;
    transition: width 0.4s ease;
}

.underline-animate-click:active::after {
    width: 100%;
}

@media (width < 48rem /* 768px */) {
    .game-card {
        width: calc(((100% - 20px) / 2));
    }
}

.header-hidden {
    transform: translateY(-100%);
}