<li class="group relative inline-block">
    <a class="cursor-pointer flex flex-row space-x-2 items-center justify-center py-1 underline-animate">
        <p class="select-none"><%= name %></p>
        <i class="fa-solid fa-chevron-down"></i>
    </a>

    <!-- Dropdown -->
    <div class="absolute left-0 w-[200px] opacity-0 invisible group-hover:visible group-hover:opacity-100 transition-opacity duration-200 z-10">
        <ul class="bg-white border border-gray-800 rounded shadow-lg mt-1">
            <% listings.forEach(l => { %>
                <li class="group/item relative px-4 py-2 hover:bg-gray-100 rounded cursor-pointer flex flex-row justify-between items-center">
                    <%= l %>
                    <i class="fa-solid fa-chevron-right"></i>

                    <!-- Sub-dropdown -->
                    <div class="absolute top-0 left-full w-[200px] opacity-0 invisible group-hover/item:visible group-hover/item:opacity-100 transition-opacity duration-200 z-20">
                        <ul class="bg-white border ml-1 border-gray-800 rounded shadow-lg">
                            <li class="px-4 py-2 hover:bg-gray-100 cursor-pointer">Acessórios</li>
                            <li class="px-4 py-2 hover:bg-gray-100 cursor-pointer">Console</li>
                            <li class="px-4 py-2 hover:bg-gray-100 cursor-pointer">Jogos</li>
                        </ul>
                    </div>
                </li>
            <% }) %> 
        </ul>
    </div>
</li>