<li class="group relative inline-block">
    <a class="cursor-pointer flex flex-row space-x-2 items-center justify-center py-1 underline-animate">
        <p class="select-none"><%= name %></p>
        <i class="fa-solid fa-chevron-down"></i>
    </a>

    <!-- Dropdown -->
    <div class="overflow-x-visible absolute left-0 w-[200px] opacity-0 invisible group-hover:visible group-hover:opacity-100 transition-opacity duration-200 z-10">
        <ul class="bg-white border border-gray-800 rounded shadow-lg mt-1">
            <% listings.forEach(l => { %>
                <li>
                    <a href="/<%= l.id %>/games" class="rounded block px-4 py-2 hover:bg-gray-100 cursor-pointer"><%= l.name %></a>
                </li>
            <% }) %> 
        </ul>
    </div>
</li>